.container {
    max-width: 1000px;
    margin: auto;
}

.header {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
}

.dataTable {
    margin-bottom: 10px;
}

.linkTab {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}